@font-face {
  font-family: 'Apple SD Sandol Gothic Neo';
  src: url('https://raw.githubusercontent.com/adrinerDP/font-applesdgothicneo/main/fonts/400_AppleSDGothicNeo-Medium.woff2') format('woff');
}

* {	
  font-family: "Apple SD Sandol Gothic Neo";
  }


#app{
  margin-top: 50px;
}

#main{
  background-color: rgba(255,255,255);
}


#aside{
  background-color: rgba(255,255,255);
  flex-basis: 164px;
  min-height: calc(100vh - 372px);
  position: relative;
  border-right: 1px solid black;
}

#scroll{
  width: 100px;
  height: 100px;
  position: sticky;
  top: 74px;
}















