@font-face {
  font-family: 'Apple SD Sandol Gothic Neo';
  src: url('https://raw.githubusercontent.com/adrinerDP/font-applesdgothicneo/main/fonts/400_AppleSDGothicNeo-Medium.woff2')
    format('woff');
}

* {
  font-family: 'Apple SD Sandol Gothic Neo';
}

#layout {
  padding-top: 50px;
}

/* #main {
  max-width: 1264px;
  display: flex;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.098);
}

#section {
  background-color: (255, 255, 255);
  flex: 1;
  padding: 24px;
} */
